.image-popup__container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 90px;
    align-self: flex-start;
}

@media all and (max-width: 550px) {
    .image-popup__container {
        margin-top: 136px;
    }
}