.profile {
    margin: 36px auto 47px auto;
    display: flex;
    justify-content: start;
    align-items: center;
    box-sizing: border-box;
}

.profile:last-child {
    align-self: flex-end;
}

@media all and (max-width: 1024px) {
    .profile {
        margin: 40px 28px 51px 27px;
    }
}

@media all and (max-width: 768px) {
    .profile {
        flex-direction: column;
        margin: 38px auto  36px auto;
    }
}