.profile__subtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0;
    grid-column: -3/-1;
}

@media all and (max-width: 768px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-bottom: 36px;
        max-width: 282px;
        grid-column: -1/-3;
    }
}