.profile__add-button {
    background-position: center;
    position: relative;
    min-width: 150px;
    min-height: 50px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-color: #000000;
    margin-left: auto;
}

.profile__add-button::after,
.profile__add-button::before {
    position: absolute;
    content: '';
    width: 2px;
    height: 22px;
    background-color: #ffffff;
    top: 12px;
    left: 50%;
}

.profile__add-button::after {
    transform: rotate(-90deg);
}

@media all and (max-width: 768px) {
    .profile__add-button {
        width: 80%;
        height: 100%;
        margin: auto 0;
    }
}

