.elements {
    margin: 47px auto 67px auto;
    display: grid;
    gap: 20px 17px;
    grid-template-columns: repeat(3, 1fr);
    font-size: 0;
}

@media all and (max-width: 900px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        max-width: 581px;
    }
}

@media all and (max-width: 900px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        max-width: 581px;
    }
}

@media all and (max-width: 600px) {
    .elements {
        margin: 0 auto 48px auto;
        grid-gap: 20px;
        max-width: 282px;
        grid-template-columns: repeat(1, 1fr);
    }
}