.elements__delete {
    position: absolute;
    right: 15px;
    top: 18px;
    height: 19px;
    width: 18px;
    background-image: url(../../../images/Trash.svg);
    border: 0;
    background-color: transparent;
}