.profile__info {
    display: grid;
    margin: 0;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 18px;
    align-items: center;
}

@media all and (max-width: 768px) {
    .profile__info {
        align-items: center;
        margin: 22px auto 36px auto;
    }
}