.profile__info {
    display: grid;
    margin: 0;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 16px;
    align-items: center;
}

@media all and (max-width: 768px) {
    .profile__info {
        align-items: center;
        margin: 0 auto;
        grid-row-gap: 14px;
        grid-column-gap: 10px;
        margin-top: 23px;
    }
}